<div class="no_print">
  <mat-toolbar color="primary" style="background-color: green" class="no_print">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="30px" fxFlexFill style="align-items: center">
        <a href="#">
          <img src="assets/imagens/logo_sgr.png" style="width: 30px; height: 30px;">
        </a>
      </div>
      <div fxFlex="50px" fxFlexFill fxFlexAlign="center">
        <a class="no_print navbar-brand" href="#">
          <span class="no_print">&nbsp;SGR </span>
        </a>
      </div>
    </div>


    <!-- Cadastros -->
    <button mat-button [matMenuTriggerFor]="cadastros" *ngIf="Logado" class="no_print">
      <span style="color: white" class="no_print">Cadastros</span>
    </button>
    <mat-menu #cadastros="matMenu" [overlapTrigger]="false" class="no_print">
      <button mat-menu-item [routerLink]="['/servicos']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-handshake-o"></mat-icon>
        <span>Serviços</span>
      </button>
      <button mat-menu-item [routerLink]="['/clientes']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon>
        <span>Cliente</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="contrato">
        <mat-icon fontSet="fontawesome" fontIcon="fa-book"></mat-icon>
        <span>Contrato</span>
      </button>
      <!-- <button mat-menu-item [matMenuTriggerFor]="documento">
      <mat-icon fontSet="fontawesome" fontIcon="fa-id-card"></mat-icon>
      <span>Documento</span>
    </button> -->
      <button mat-menu-item [routerLink]="['/fornecedores']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon>
        <span>Fornecedor</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="residuo">
        <mat-icon fontSet="fontawesome" fontIcon="fa-recycle"></mat-icon>
        <span>Resíduo</span>
      </button>
      <button mat-menu-item [routerLink]="['/equipamentos']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-wrench"></mat-icon>
        <span>Equipamento</span>
      </button>
      <!-- <button mat-menu-item [routerLink]="['/']">
      <mat-icon fontSet="fontawesome" fontIcon="fa-usd"></mat-icon>
      <span>Preço</span>
    </button> -->
    </mat-menu>
    <!-- Contrato -->
    <mat-menu #contrato="matMenu" class="no_print">
      <button mat-menu-item [routerLink]="['/contratoclientes']">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Cliente</span>
      </button>
      <button mat-menu-item [routerLink]="['/contratofornecedores']">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Fornecedor</span>
      </button>
    </mat-menu>
    <!-- Documento -->
    <!-- <mat-menu #documento="matMenu" class="no_print">
    <button mat-menu-item [routerLink]="['/clientedocumentos']">
      <span>Cliente</span>
    </button>
    <button mat-menu-item [routerLink]="['/fornecedordocumentos']">
      <span>Fornecedor</span>
    </button>
    <button mat-menu-item [routerLink]="['/tipodocumentos']">
      <span>Tipo de Documento</span>
    </button>
  </mat-menu> -->
    <!-- Residuo -->
    <mat-menu #residuo="matMenu" class="no_print">
      <button mat-menu-item [routerLink]="['/acondicionamentos']">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Acondicionamento</span>
      </button>
      <button mat-menu-item [routerLink]="['/classeresiduos']">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Classe de Resíduos</span>
      </button>
      <!-- <button mat-menu-item [routerLink]="['/tipoatividades']">
      <span>Tipo de Atividades</span>
    </button> -->
      <button mat-menu-item [routerLink]="['/residuos']">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Resíduos</span>
      </button>
      <button mat-menu-item [routerLink]="['/tipotratamentos']">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Tipo de Tratamento</span>
      </button>
      <button mat-menu-item [routerLink]="['/tiporesiduos']">
        <span>Tipo de Resíduo</span>
      </button>
      <button mat-menu-item [routerLink]="['/unidades']">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Unidade</span>
      </button>
    </mat-menu>
    <!-- Processos -->
    <button mat-button [matMenuTriggerFor]="processos" *ngIf="Logado">
      <span style="color: white" class="no_print">Processos</span>
    </button>
    <mat-menu #processos="matMenu" [overlapTrigger]="false" class="no_print">
      <button mat-menu-item [routerLink]="['/manifestos']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-recycle"></mat-icon>
        <span>Manifesto</span>
      </button>
      <button mat-menu-item [routerLink]="['/monitordocumento']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon>
        <span>Monitor de Documentos</span>
      </button>
      <button mat-menu-item [routerLink]="['/locacoes']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-calculator"></mat-icon>
        <span>Apuração de Locações</span>
      </button>
      <button mat-menu-item [routerLink]="['/pesagens']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-balance-scale"></mat-icon>
        <span>Pesagem</span>
      </button>
      <!-- <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-cubes"></mat-icon>
      <span>Medição e envio para Financeiro</span>
    </button> -->
    </mat-menu>
    <!-- Relatórios -->

    <button mat-button [matMenuTriggerFor]="relatorios" *ngIf="Logado">
      <span style="color: white" class="no_print">Relatórios</span>
    </button>
    <mat-menu #relatorios="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [matMenuTriggerFor]="relatoriosgerenciais">
        <mat-icon fontSet="fontawesome" fontIcon="fa-user"></mat-icon>
        <span>Gerencial</span>
      </button>
      <!-- <button mat-menu-item [routerLink]="['/relatorios/receita']">
      <mat-icon fontSet="fontawesome" fontIcon="fa-dollar"></mat-icon>
      <span>Receitas</span>
    </button> -->
      <!-- <button mat-menu-item [routerLink]="['/relatorios/despesa']">
      <mat-icon fontSet="fontawesome" fontIcon="fa-dollar"></mat-icon>
      <span>Despesas</span>
    </button> -->
      <button mat-menu-item [routerLink]="['/relatorios/pesagem']">
        <mat-icon fontSet="fontawesome" fontIcon="fa-balance-scale"></mat-icon>
        <span>Controle de Pesagem</span>
      </button>
    </mat-menu>
    <mat-menu #relatoriosgerenciais="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['/relatorios/cliente']">
        <!-- <button mat-menu-item [routerLink]="['/relatorios/receitacliente',{mensagem:'mensagem de teste'}]"></button> -->
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon> -->
        <span>Cliente</span>
      </button>
      <button mat-menu-item [routerLink]="['/relatorios/gerencial']">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-cubes"></mat-icon> -->
        <span>Ambiente Verde</span>
      </button>
    </mat-menu>
    <!-- Utilitários -->
    <!-- <button mat-button [matMenuTriggerFor]="utilitarios" *ngIf="Logado">
    <span style="color: white">Utilitários</span>
  </button>
  <mat-menu #utilitarios="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon>
      <span>Clientes</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-cubes"></mat-icon>
      <span>Produtos</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-exchange"></mat-icon>
      <span>Movimentações</span>
    </button>
  </mat-menu> -->
    <!-- Financeiro -->
    <!-- <button mat-button [matMenuTriggerFor]="financeiro" *ngIf="Logado">
    <span style="color: white">Financeiro</span>
  </button>
  <mat-menu #financeiro="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon>
      <span>Receita</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-cubes"></mat-icon>
      <span>Despesa</span>
    </button>
  </mat-menu> -->
    <span class="espaco"></span>
    <button mat-button [matMenuTriggerFor]="loginsistema" *ngIf="Logado">
      <i class="fa fa-user-o no_print" aria-hidden="true"></i>
      <span style="color: white" class="no_print"> {{Usuario.name}}</span>
    </button>
    <mat-menu #loginsistema="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon fontSet="fontawesome" fontIcon="fa-key"></mat-icon>
        <span>Trocar Senha</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-user-times"></mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
    <button mat-button *ngIf="!Logado" (click)="openLoginDialog()">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      <span style="color: white">Login</span>
    </button>
  </mat-toolbar>
</div>
<!-- <app-alerts [defaultSettings]="options"></app-alerts> -->
<!-- <button mat-raised-button (click)="converte()"> open </button> -->
<router-outlet *ngIf="Logado"></router-outlet>
