<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
  <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
      <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
        <button id="btnSalvar" mat-raised-button color="primary" style="width: 100%" (click)="btnSalvar_click()">
          <mat-icon>save</mat-icon>
          <span>Salvar</span>
        </button>
        <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()" *ngIf="exibeIncluir">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Incluir</span>
        </button>
      </div>
      <div fxFlex="40px" fxFlexFill fxFlexAlign="end">

        <a routerLink="/fornecedordocumentos" mat-raised-button color="primary" style="width: 120px">
          <mat-icon>close</mat-icon>
          <span>Fechar</span>
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="50px" fxFlexAlign="start" style="padding: 10px;">
        <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
          <i class="fa fa-leaf" aria-hidden="true"></i>
          <span>DOCUMENTO DO FORNECEDOR</span>
        </button>
      </div>
      <div fxFlex="80%" fxFlexAlign="center">
        <div fxLayout="column" class="frm_fornecedordocumento-loading-shade" fxLayoutAlign="center center" *ngIf="emProcessamento">
          <div fxFlex="70" fxFlexAlign="center">
            <mat-spinner></mat-spinner>
          </div>
          <div fxFlex="10" fxFlexAlign="center">
            &nbsp;
          </div>
          <div fxFlex="20" fxFlexAlign="center">
            <label>Aguarde...</label>
          </div>
        </div>
        <mat-card *ngIf="!emProcessamento" style="width: 750px;">
          <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">

            <div fxFlex="70px" fxFlexAlign="start">
              <mat-form-field class="frm_fornecedordocumento_codigo">
                <input matInput disabled #codigo maxlength="9" type="number" tabindex="-1" placeholder="Código" required [(ngModel)]="fornecedordocumento.id">
                <!-- <mat-hint align="end">{{codigo.value?.length || 0}}/9</mat-hint>
                <mat-error *ngIf="valCodigo.invalid">{{getCodigoErrorMessage()}}</mat-error> -->
              </mat-form-field>
            </div>
            <div fxFlex="70px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" style="width: 100%">
                <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedordocumento_codigo">
                    <input matInput #codigocli maxlength="9" [formControl]="valCodigo" placeholder="Fornecedor" required tabindex="1" [(ngModel)]="fornecedordocumento.id_fornecedor"
                      (keyup)="validaSaida($event.target.value)" (keypress)="onlyNumber($event)">
                    <mat-hint align="end">{{codigocli.value?.length || 0}}/9</mat-hint>
                    <mat-error *ngIf="valCodigo.invalid">{{getCodigoErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="45px" fxFlexAlign="center" fxFlexFill>
                  <button mat-icon-button color="primary" (click)="openPesquisa()">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <div fxFlex="320px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedordocumento_razao_social">
                    <input matInput disabled [(ngModel)]="fornecedordocumento.razao_social">
                    <!-- <mat-hint align="end">{{codigocli.value?.length || 0}}/9</mat-hint>
                          <mat-error *ngIf="valCodigo.invalid">{{getCodigoErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="70px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxFlex="230px" fxFlexFill>
                  <mat-form-field class="frm_fornecedordocumento_tipodocumento">
                    <mat-select [formControl]="valTipoDocumento" placeholder="Tipo de Documento" [(value)]="fornecedordocumento.id_tipo_documento" required tabindex="1">
                      <mat-option *ngIf="modelLoaded"[value]="fornecedordocumento.id_tipo_documento">{{fornecedordocumento.descricao}}</mat-option>
                      <mat-option *ngFor="let tipodocumento of tipodocumentos" [value]="tipodocumento.id">
                        {{ tipodocumento.descricao }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="150px" fxFlexFill>
                  <mat-form-field class="frm_fornecedordocumento_nrolicenca">
                    <input matInput uppercase #nrolicencatransp maxlength="20" placeholder="Numero" tabindex="29" [(ngModel)]="fornecedordocumento.numero">
                    <mat-hint align="end">{{nrolicencatransp.value?.length || 0}}/20</mat-hint>
                  </mat-form-field>
                </div>
                <div fxFlex="140px" fxFlexFill>
                  <mat-form-field class="frm_fornecedordocumento_dtemissao">
                    <input matInput type="date" #dtemissao maxlength="10" placeholder="Data Emissão" tabindex="30" [ngModel]="fornecedordocumento.emissao"
                      (ngModelChange)="fornecedordocumento.emissao = $event" [value]="fornecedordocumento.emissao">
                    <mat-hint align="end">{{dtemissao.value?.length || 0}}/10</mat-hint>
                  </mat-form-field>
                </div>
                <div fxFlex="140px" fxFlexFill>
                  <mat-form-field class="frm_fornecedordocumento_dtvencimento">
                    <input matInput type="date" #dtvencimento maxlength="10" placeholder="Data Vencimento" tabindex="32" [ngModel]="fornecedordocumento.vencimento"
                      (ngModelChange)="fornecedordocumento.vencimento = $event" [value]="fornecedordocumento.vencimento">
                    <mat-hint align="end">{{dtvencimento.value?.length || 0}}/20</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="70px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxFlex="350px" fxFlexFill>
                  <label style="font-size: 12px; font-weight: bold; color: gray">Anexar pdf / imagem documento</label>
                  <input type="file" placeholder="Upload file" #fileInput accept=".pdf,.doc,.docx" style="width: 400px">
                </div>
              </div>
            </div>
            <div fxFlex="70px" fxFlexAlign="start" *ngIf="fornecedordocumento.caminho">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxFlex="300px" fxFlexFill>
                  <mat-form-field style="width: 300px;" *ngIf="fornecedordocumento.caminho">
                    <input matInput disabled placeholder="Documento Anexado" [(ngModel)]="fornecedordocumento.caminho">
                  </mat-form-field>
                </div>
                <div fxFlex="120px" fxFlexFill>
                  <a mat-button href={{linkDownload}}>
                    Download
                  </a>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>
